html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --small-padding: 6px;
    border: none;
}

.body {
    position: relative;
    height: 100vh;
    font-family: 'Anton';
    font-weight: 100;
    background-color: black;
    background-image: url('images/camera.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
    background-blend-mode: hard-light;
    text-align: center;
}

.title {
    color: red;
    font-size: 4rem;
    font-weight: 100;
    margin-top: 2%;
}

.main {
  position: relative;
  height: auto;
}

.form {
    width: auto;
    height: auto;
    margin-top: 40px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    gap: 10px;
}

.search-box {
    width: 320px;
    padding: var(--small-padding);
    font-size: 1.4rem;
    color: white;
    background-color: rgb(39, 37, 37);
    margin-bottom: 20px;
    padding: 9px 9px 9px 15px;
    border-radius: 24px;
}

.search-box:hover{
    background-color: rgb(52, 49, 49);
}

.search-btn {
    padding: var(--small-padding);
    color: floralwhite;
    font-size: 1.3rem;
    font-weight: 500;
    background-color: black;
    border: 1px solid dimgray;
    border-radius: 24px;/*3px;*/
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
}

.search-btn:hover {
    border: 1px solid white;
}

.delete-btn {
    padding: var(--small-padding);
    color: red;
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 24px;/*3px;*/
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid red;
    background-color: transparent;
}

.delete-btn:hover {
    border: 1px solid white;
}

.images-container {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15%;
}

.img {
    max-width: 40%;
    height: 30%;
    border: 1px solid black;
    border-radius: 12px;
}

.img:hover {
    border: black;
}

.arrow-up {
    position: fixed;
    top: 90vh;
    right: 5%;
    font-size: 2.5rem;
    color: rgba(220, 220, 220, 0.8);
}

.footer {
    position: sticky;
    top: 98vh;
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
}

.copyright {   
    font-size: 0.8rem;
    color: darkgray;   
    padding-bottom: 1%;
}

.heart-icon {
    font-size: 0.9rem;
    color: red;
}

@media  screen and (max-width: 1024px) {
    .body {
        background-image: none;
    }
}

@media screen and (max-width: 767px) {
    .body {
        padding-top: 7%;
        text-align: center;
        background-image: none;
    }
    .title {
        font-size: 2rem;
        margin-top: 0;
    }
    .form {
        justify-content: center;
        margin-top: 30px;
    }
    .images-container {
        padding-top: 20px;
    }
    .arrow-up {
        right: 5%;
    }
    .copyright {
        text-align: center;
    }
}