html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --small-padding: 6px;
    border: none;
}

.body {
    height: 100vh;
    font-family: 'Anton';
    font-weight: 100;
    background-color: black;
    background-image: url('images/camera.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
    background-blend-mode: hard-light;
    padding: 45px;
    text-align: center;
}

.title {
    color: red;
    font-size: 4rem;
    font-weight: 100;
}

.main {
  position: relative;
}

.form {
    height: auto;
    margin-top: 40px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

.search-box {
    width: 300px;
    padding: var(--small-padding);
    font-size: 1.4rem;
    color: white;
    background-color: rgb(39, 37, 37);
    margin-bottom: 20px;
    padding: 9px;
    margin-right: 9px;
}

.search-box:hover{
    background-color: rgb(52, 49, 49);
}

.search-btn {
    padding: var(--small-padding);
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    background-color: black;
    border: 1px solid dimgray;
    border-radius: 3px;
    padding: 7px;
    margin-right: 5px;
}

.search-btn:hover {
    border: 1px solid white;
}

.delete-btn {
    padding: var(--small-padding);
    color: black;
    font-size: 1.3rem;
    font-weight: 600;
    background-color: red;
    border-radius: 3px;
    padding: 7px;
}

.delete-btn:hover {
    border: 1px solid white;
}

.images-container {
    position: relative;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15%;
}

.img {
    max-width: 100%;
    height: 50%;
    border: 1px solid black;
    border-radius: 12px;
}

.img:hover {
    border: black;
}

.arrow-up {
    position: fixed;
    top: 90vh;
    right: 2%;
    font-size: 1.5rem;
    color: gainsboro;
}

.footer {
    height: auto;
    top: 98vh;
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
}

.copyright { 
    font-size: 0.8rem;
    color: dimgray;   
}

.heart-icon {
    font-size: 0.9rem;
    color: red;
}

@media screen and (max-width: 767px) {
    .body {
        padding-top: 7%;
        text-align: center;
    }
    .title {
        font-size: 2rem;
    }
    .form {
        justify-content: center;
        margin-top: 30px;
    }
    .search-btn {
        color: black;
        background-color: white;
    }
    .search-btn:hover {
        border: 1px solid white;
    }
    .clear-btn:hover {
        border: 1px solid red;
    }
    .images-container {
        padding-top: 20px;
    }
    .arrow-up {
        right: 10%;
    }
    .copyright {
        text-align: center;
    }
}